
<div class="show_all">

  <%= render 'moyattos/show-form' %>

  <div class="show_guess_sukkiri">

    <%= render 'moyattos/show-content'%>

    <% render 'moyattos/show-guess-sukkiri' %>


<%= form_with model:[@moyatto,@guess], local: true  do |f| %>
  <p>仮説を登録</p>
  <%= f.text_area :story %>
  <%= f.submit "保存する"  %>
<% end %>

  </div>


</div>