
  <div class="show_title">
    <div class="show_title_left">
      <div class="show_title_main">
        <h1><%= link_to"#{@moyatto.want}",edit_moyatto_path(@moyatto.id) %></h1>
      </div>
      <div class="show_title_sup">
        <div class="moyatto_nickname">
          <%= "#{@moyatto.user.nickname}" %>
        </div>
        <div class="moyatto_dated">
          <%= "#{time_ago_in_words(@moyatto.updated_at)}前" %> 
        </div>
      </div>
    </div>
    <div class="show_title_right">
      <div class="moyatto_edit">
        <%# <%= link_to "追記・修正",edit_moyatto_path(@moyatto.id) %> 
      </div>
      <div class="moyatto_delete">
      <%# <%= link_to "削除",moyatto_path(@moyatto.id),method: :delete, data: { confirm: '削除しますか？' } %> 
      </div>
    </div>
  </div>

 








