
<div class="advice_box">

  <h3 class="advice_title">▼ advice ▼</h3>

  <%# 投稿に紐づくコメントを一覧する処理を記述する %>
  <% if @advices.empty? %>
    <div class="no_advice">
      <p>まだアドバイスがありません</p>
    </div>
  <% else %>
    <ul>
      <% @advices.each do |advice| %>
        <li>
          <div class="advice">
            <div class="advice_text">
              <%= safe_join(advice.comment.split("\n"),tag(:br)) %>
            </div>
            <div class="advice_nickname">
              <%=  advice.user.nickname %>
              <% if user_signed_in? && current_user.id == advice.user.id %>
                <%= link_to "[削除]", moyatto_advice_path(@moyatto.id,advice.id),method: :delete ,class: :advice_delete  %> 
              <%end%>
            </div>
          </div>
        </li>
      <% end %>
    <ul>
  <%end%>

  <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
  <% if user_signed_in? %>
    <div class="advice_create">
      <%= form_with model:[@moyatto,@advice], local: true do |f| %>
        <%= f.label :comment, "あなたのアドバイス" %>
        <%= f.text_area :comment %>
        <%= f.submit "送信する", class: :form__btn  %>
      <% end %>
    </div>
  <% end %>

</div>