<h1>moyattoの編集画面です</h1>
<%= form_with model: @moyatto do |f| %> 
  <p>やりたいことは何ですか？（編集）</p>
  <%= f.text_area :want %>
    <p>どのようなエラーですか？（編集）</p>
  <%= f.text_area :cannot %>  
   <p> エラー画面があれば添付してください（編集）</p>
  <%= f.file_field :image %>
    <p>どのようなことが、どのタイミングで起こりますか？（編集）</p>
  <%= f.text_area :status %>
  <%= f.submit "編集する"  %>
  <% end %>