<h1>moyattoのindexです</h1>
<% if signed_in? %>
  <%= "(ログイン状態であれば表示する)" %>
  <br>
  <%= link_to "こんにちは、#{current_user.nickname}さん",root_path %>   
  <h3>moyattoを登録する。</h3>
  <%= link_to "登録ボタン",new_moyatto_path %>
<%end%>
<h3>moyatto一覧</h3>
<hr>
<% @moyattos.each do |moyatto| %>
  <%# スッキリマーク %> 
  <% @sukkiris= moyatto.sukkiris %>
  <% if @sukkiris.find_by(moyatto_status: '1') != nil%>
    <%= "すっきり" %>
  <%else%>
    <%= "もやっと"%>
  <%end%>
  <%# スッキリマークここまで %> 
    <br>
  <%= "  やりたいこと:#{moyatto.want}" %>

  <br>
  <%= "投稿者：#{moyatto.user.nickname}" %>
  <br>
  <%= link_to "このmoyattoの詳細をみる",moyatto_path(moyatto.id) %>
  <hr>
<%end%>
