<% if signed_in? %>
  <%= "こんにちは" %>
  <%= link_to "#{current_user.nickname}",root_path %> 
  <%= link_to "moyattoを登録する",new_moyatto_path %>
<%end%>

<% @moyattos.each do |moyatto| %>
  <p>やりたいこと</p>
  <%= "#{moyatto.want}" %>
  <p>どのようなエラー</p>
  <%= "#{moyatto.cannot}"%>
  <% if moyatto.image.attached? %>
    <p> エラー画面</p>
    <%= image_tag moyatto.image %>
  <%end%>
  <p>詳細な状況</p>
  <%= "#{moyatto.status}" %>
  <%= link_to "このmoyattoの詳細をみる",moyatto_path(moyatto.id) %>
<%end%>
