<h1>moyattoのindexです</h1>
<% if signed_in? %>
  <%= "(ログイン状態であれば表示する)" %>
  <br>
  <%= link_to "こんにちは、#{current_user.nickname}さん",root_path %> 
<h3>mmoyattoを登録する。</h3>
  <%= link_to "登録ボタン",new_moyatto_path %>
  <%end%>
  <h3>mmoyatto一覧</h3>
<h1>---------------------</h1>
<% @moyattos.each do |moyatto| %>
  <p>やりたいこと</p>
  <%= "#{moyatto.want}" %>
  <p>どのようなエラー</p>
  <%= "#{moyatto.cannot}"%>
  <% if moyatto.image.attached? %>
    <p> エラー画面</p>
    <%= image_tag moyatto.image %>
  <%end%>
  <p>詳細な状況</p>
  <%= "#{moyatto.status}" %>
 <br><br> <%= link_to "このmoyattoの詳細をみる",moyatto_path(moyatto.id) %>
      <h1>---------------------</h1>
<%end%>
