<div class="wrappar">
    <div class="top">
      <h1>moyattoの登録</h1>
    </div>
    <div class="moyatto_form">
<%= form_with model: @moyatto do |f| %> 
  <h4>やりたいこと・解決したいこと<span><必須><span></h4>
  <%= f.text_area :want ,  placeholder:"やりたいことと、解決したいことを明確にしましょう。"  ,class: :want_area %>
  <br><br>
    <h4>できない内容の詳細<span><必須><span></h4>
  <%= f.text_area :cannot,  placeholder:"エラーログの確認などを行い、出来ないことを明確にしましょう。"  ,class: :cannot_area %>  
  <br><br>
   <h4> エラー画面があれば添付してください</h4>
  <%= f.file_field :image %>
  <br><br>
    <h4>状況の詳細<span><必須><span></h4>
  <%= f.text_area :status,  placeholder:"どのようなことが、どのタイミングで起こるか　明確にしましょう。"  ,class: :status_area %>
  <br><br>
  <%= f.submit "保存する"  %>
<% end %>


</div>
</div>